<!-- Main Footer -->
<footer class="main-footer dark-mode">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
        <strong>
            
            <a href="https://drive.google.com/drive/folders/116GAa_M15Sxm3WL03eLkOmFBTD3IIKcn?usp=sharing" class="elements">
                <i class="far fa-question-circle fa-lg"></i>
            </a>    
        </strong>


    </div>
    <!-- Default to the left -->
    <strong>PrivTours &copy; 2020-2021.</strong> Todos los derechos reservados.
</footer>