@model PrivTours.Models.Entities.Servicio

@{
    ViewData["Title"] = "Create";
}

@section Styles{

}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Crear Servicio</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Servicios">Gestión Servicios</a></li>
                        <li class="breadcrumb-item active">Crear Servicio</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
        <hr />
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">

                    <form method="post" asp-action="Create" id="formulario" name="formulario">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                            <label asp-for="Nombre" class="control-label"></label>
                            <input asp-for="Nombre" class="form-control" id="nombre" name="nombre" />
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Descripcion" class="control-label"></label>
                            <input asp-for="Descripcion" class="form-control" id="apellidos" name="descripcion" />
                            <span asp-validation-for="Descripcion" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Restriccion" class="control-label"></label>
                            <input asp-for="Restriccion" class="form-control" id="email" name="restriccion" />
                            <span asp-validation-for="Restriccion" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Recomendacion" class="control-label"></label>
                            <input asp-for="Recomendacion" class="form-control" id="telefono" name="recomendacion" />
                            <span asp-validation-for="Recomendacion" class="text-danger"></span>
                        </div>

                        <div class="row col-4">
                            <div>
                                <a asp-action="Index" class="btn btn-outline-secondary">Volver</a>
                            </div>
                            <br />
                            <div class="form-group col-2">
                            <input type="button" value="Crear" class="btn btn-primary" onclick="Crear()" />
                        </div>

                        </div>
                    </form>
                </div>
                <!-- /.col-md-6 -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

@section Scripts{

    <script>
        function Crear() {
            Swal.fire({
                title: "Guardar servicio",
                text: "¿Estás seguro que desea guardar el servicio?",
                //showDenyButton: true,
                showCancelButton: true,
                confirmButtonText: 'Guardar',
                //denyButtonText: 'No guardar',
            }).then((result) => {
                if (result.isConfirmed) {
                    document.getElementById('formulario').submit();

                } else if (result.isDenied) {
                    Swal.fire('¡Empleado no guardado!', '', 'info')
                }
            })
        }
    </script>

}