@model PrivTours.Models.Entities.Servicio

@{
    ViewData["Title"] = "Edit";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Editar servicio</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-action="Dashboard" asp-controller="Admin">Dashboard</a></li>
                        <li class="breadcrumb-item active">Servicio</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">

            <hr />
            <div class="row">
                <div class="col-md-4">
                    <div class="col-md-6">
                        <form method="post" asp-action="Edit" id="formulario" name="formulario">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div asp-validation-summary="ModelOnly" class="text-danger">
                                <!--<input type="hidden" name="Id" id="Id" />-->
                            </div>

                            <div class="form-group">
                                <label asp-for="Nombre" class="control-label"></label>
                                <input asp-for="Nombre" class="form-control" id="nombre" name="nombre" />
                                <span asp-validation-for="Nombre" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Descripcion" class="control-label"></label>
                                <input asp-for="Descripcion" class="form-control" id="apellidos" name="descripcion" />
                                <span asp-validation-for="Descripcion" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Restriccion" class="control-label"></label>
                                <input asp-for="Restriccion" class="form-control" id="email" name="restriccion" />
                                <span asp-validation-for="Restriccion" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Recomendacion" class="control-label"></label>
                                <input asp-for="Recomendacion" class="form-control" id="telefono" name="recomendacion" />
                                <span asp-validation-for="Recomendacion" class="text-danger"></span>
                            </div>

                            <input asp-for="ServicioId" class="form-control" style="visibility: hidden" />
                            <input asp-for="Estado" class="form-control" style="visibility: hidden" />

                            <div class="row">
                                <div>
                                    <a asp-action="Index" class="btn btn-outline-secondary">Volver</a>
                                </div>
                                <br />
                                <div class="form-group">
                                    <input type="button" value="Editar" class="btn btn-primary" onclick="Editar()" />
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
    <!-- /.content-wrapper -->
</div>

@section Scripts {

    <script>
        function Editar() {

            Swal.fire({
                title: "Editar servicio",
                text: "¿Estás seguro que desea editar el servicio?",
                //showDenyButton: true,
                showCancelButton: true,
                confirmButtonText: 'Guardar',
                //denyButtonText: 'No guardar',
            }).then((result) => {
                if (result.isConfirmed) {
                    document.getElementById('formulario').submit();
                } else if (result.isDenied) {
                    Swal.fire('¡Empleado no editado!', '', 'info')
                }
            })

        }
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
