@model PrivTours.ViewModels.UsuarioViewModel

@{
    ViewData["Title"] = "Editar";
}

@Html.HiddenFor(u => u.Id)
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <div class="content">
        <div class="container-fluid">

            <div class="container py-5">
                <div class="row">
                    <div class="col-md-2 text-center">
                        <p><i class="fa fa-exclamation-triangle fa-5x"></i><br />Acceso denegado: 403</p>
                    </div>
                    <div class="col-md-10">
                        <h3>OPPSSS!!!! Lo sentimos...</h3>
                        <p>No tienes acceso al recurso.<br />Por favor regresa a la página en la que te encontrabas.</p>
                        <a class="btn btn-danger" href="javascript:history.back()">Volver</a>
                        <!--<a asp-action="Index">Volver</a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    @section Scripts {


        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

