@model PrivTours.ViewModels.UsuarioViewModel

@{
    ViewData["Title"] = "Crear";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Crear usuario</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-action="Dashboard" asp-controller="Admin">Dashboard</a></li>
                        <li class="breadcrumb-item active">Usuarios</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <hr />
            <div class="row ">
               
                    
                <form method="post" asp-action="CrearUsuario" id="formulario" name="formulario">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group row col-xs-12">
                        <div class="col-auto">
                            <p> <input asp-for="Nombre" required placeholder="Nombre" class="form-control" /></p>
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>

                        <div class="col-auto">
                            <p> <input asp-for="Apellido" required placeholder="Apellido" class="form-control" /></p>
                            <span asp-validation-for="Apellido" class="text-danger"></span>
                        </div>
                    </div>


                    <div class="form-group row col-xs-12">
                        <div class="col-auto">
                            <input asp-for="Documento" required placeholder="Documento" class="form-control" />
                            <span asp-validation-for="Documento" class="text-danger"></span>
                        </div>

                        <div class="col-auto">
                            <input asp-for="Telefono" required placeholder="Teléfono" class="form-control" />
                            <span asp-validation-for="Telefono" class="text-danger"></span>
                        </div>

                        <div class="col-auto">
                            <input asp-for="Email" required placeholder="E-mail" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>


                    <div class="form-group row col-xs-12">

                        <div class="col-auto">
                            <input asp-for="Password" required placeholder="Contraseña" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="col-auto">
                            <input type="password" asp-for="ConfirmarPassword" required placeholder="Confirmar contraseña" class="form-control" />
                            <span asp-validation-for="ConfirmarPassword" class="text-danger"></span>
                        </div>

                    </div>


                    <div class="form-group">
                        <label asp-for="RolSeleccionado" class="control-label">Seleccionar rol</label>
                        <select asp-for="RolSeleccionado" class="form-control" asp-items="ViewBag.Roles"></select>
                        <span asp-validation-for="RolSeleccionado" class="text-danger"></span>
                    </div>

                    <div class="form-group row col-xs-12">
                        <div class="col-auto">
                            <a asp-action="Index" class="btn btn-outline-secondary">Volver</a>
                        </div>

                        <div class="col-auto">
                            <input type="button" value="Crear" class="btn btn-primary" onclick="guardarUsuario()" />
                        </div>
                    </div>
                </form>
                    
                  
             </div>

        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
    <!-- /.content-wrapper -->
</div>

@section Scripts {

    <script>
        function guardarUsuario() {
            console.log("ingreso a guardar");
            Swal.fire({
                title: "Guardar usuario",
                text: "¿Estás seguro que desea guardar el usuario?",
                //showDenyButton: true,
                showCancelButton: true,
                confirmButtonText: 'Guardar',
                //denyButtonText: 'No guardar',
            }).then((result) => {
                if (result.isConfirmed) {
                    console.log("confirmado");
                    document.getElementById('formulario').submit();

                } else if (result.isDenied) {
                    console.log("isDenied");
                    Swal.fire('¡Usuario no guardado!', '', 'info')
                }
            })
        }
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
