@model PrivTours.ViewModels.UsuarioViewModel

@{
    ViewData["Title"] = "Editar";
}

@Html.HiddenFor(u => u.Id)
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Editar usuario</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-action="Dashboard" asp-controller="Admin">Dashboard</a></li>
                        <li class="breadcrumb-item active">Usuarios</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">

            <hr />
            <!--<div class="row">-->
            <!--<div class="col-md-6">-->
            <!--<div class="col-md-8">-->
            <form method="post" asp-action="Editar" id="formulario" name="formulario">
                <!--<div asp-validation-summary="All" class="text-danger"></div>-->
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <!--<div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Apellido" class="control-label"></label>
                    <input asp-for="Apellido" class="form-control" />
                    <span asp-validation-for="Apellido" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Documento" class="control-label"></label>
                    <input asp-for="Documento" class="form-control" />
                    <span asp-validation-for="Documento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Telefono" class="control-label"></label>
                    <input asp-for="Telefono" class="form-control" />
                    <span asp-validation-for="Telefono" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RolSeleccionado" class="control-label"></label>
                    <select asp-for="RolSeleccionado" class="form-control" asp-items="ViewBag.Roles"></select>
                    <span asp-validation-for="RolSeleccionado" class="text-danger"></span>
                </div>

                <div class="row col-4">
                    <div>
                        <a asp-action="Index" class="btn btn-outline-secondary">Volver</a>
                    </div>
                    <br />
                    <div class="form-group col-2">
                        <input type="button" value="Editar" class="btn btn-primary" onclick="Editar()" />
                    </div>
                </div>-->
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="Documento" class="control-label">Documento <span style="color: red;">*</span></label>
                        <input asp-for="Documento" required placeholder="Documento" class="form-control" />
                        <span asp-validation-for="Documento" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Telefono" class="control-label">Teléfono</label>
                        <input asp-for="Telefono" required placeholder="Teléfono" class="form-control" />
                        <span asp-validation-for="Telefono" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="Nombre" class="control-label">Nombre <span style="color: red;">*</span></label>
                        <input asp-for="Nombre" required placeholder="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Apellido" class="control-label">Apellido <span style="color: red;">*</span></label>
                        <input asp-for="Apellido" required placeholder="Apellido" class="form-control" />
                        <span asp-validation-for="Apellido" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="Email" class="control-label">E-mail <span style="color: red;">*</span></label>
                        <input asp-for="Email" required placeholder="E-mail" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="RolSeleccionado" class="control-label">Seleccionar rol <span style="color: red;">*</span></label>
                        <select asp-for="RolSeleccionado" class="form-control" asp-items="ViewBag.Roles">
                            <option value="">Seleccione...</option>
                        </select>
                        <span asp-validation-for="RolSeleccionado" class="text-danger"></span>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <a asp-action="Index" class="btn btn-outline-secondary">Volver</a>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="button" value="Editar" class="btn btn-primary" onclick="Editar()" />
                        </div>
                    </div>
                </div>
            </form>
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
    <!-- /.content-wrapper -->
</div>
@section Scripts {

    <script>

        function Editar() {
            console.log("ingreso a editar");
            Swal.fire({
                title: "Editar usuario",
                text: "¿Estás seguro que desea editar el usuario?",
                showCancelButton: true,
                confirmButtonText: 'Editar',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    console.log("confirmado");
                    document.getElementById('formulario').submit();

                } else if (result.isDenied) {
                    console.log("isDenied");
                    Swal.fire('¡Usuario no editado!', '', 'info')
                }
            })
        }

        function validaEmail(email) {
            var regex = /^([a-zA-Z0-9_.+-])+\@@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            return regex.test(email);
        }
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

