@model PrivTours.ViewModels.LoginViewModel

@{
    Layout = null;

}


<!DOCTYPE html>
<html>
<head>
    <link href="~/css/Login.css" rel="stylesheet" />
</head>
<body class="hold-transition login-page">

    <div id="login-page">
        <div class="login">
            <div class='console-container'><span id='text'></span><div class='console-underscore' id='console'>&#95;</div></div>
            <h1 class="login-title">PRIVTOURS</h1>
            <h3 class="login-title">Login</h3>
            <p class="notice">Inicie sesión para acceder al sistema</p>
            <form class="form-login" method="post" asp-action="Login">
                <label for="email">E-mail <span style="color: red;">*</span></label>
                <div class="input-email">
                    <i class="fas fa-envelope icon"></i>
                    <span asp-validation-for="Email" class="text-danger small"></span>
                    <input asp-for="Email" class="form-control" placeholder="Email" type="email" name="email" required>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <label for="password">Password <span style="color: red;">*</span></label>
                <div class="input-password">
                    <i class="fas fa-lock icon"></i>
                    <span asp-validation-for="Password" class="text-danger small"></span>
                    <input asp-for="Password" class="form-control" type="password" name="password" placeholder="Password" required>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div asp-validation-summary="All" class="text-danger small"></div>
                <div class="checkbox">

                    <label asp-for="RecordarMe" for="remember">
                        <input asp-for="RecordarMe" type="checkbox" name="remember">
                        @Html.DisplayNameFor(m => m.RecordarMe)
                    </label>
                </div>
                <button type="submit"><i class="fas fa-door-"></i> Ingresar</button>
            </form>
            <a asp-action="RecuperarContrasena">Olvidé la contraseña</a>
            <div class="created">

                <p>
                    Created by
                    <a href="https://github.com/blendyvillamizar">Blendy Villamizar</a>
                    <a href="https://github.com/andresgd7">Carlos Gomez</a>
                    <a href="https://github.com/JamiltonQuintero">Jamilton Quintero</a>
                </p>
            </div>
        </div>

        <div class="background">          
        </div>
    </div>




</body>
</html>

<script>

    consoleText(['Guidance that meets your expectations.' , '¡Viajar por Colombia nunca fue tan fácil!', '“CUIDA DE LOS DEMÁS CUIDANDO DE TI MISMO”.'], 'text', ['tomato', 'rebeccapurple', 'lightblue']);

    function consoleText(words, id, colors) {
        if (colors === undefined) colors = ['#fff'];
        var visible = true;
        var con = document.getElementById('console');
        var letterCount = 1;
        var x = 1;
        var waiting = false;
        var target = document.getElementById(id)
        target.setAttribute('style', 'color:' + colors[0])
        window.setInterval(function () {

            if (letterCount === 0 && waiting === false) {
                waiting = true;
                target.innerHTML = words[0].substring(0, letterCount)
                window.setTimeout(function () {
                    var usedColor = colors.shift();
                    colors.push(usedColor);
                    var usedWord = words.shift();
                    words.push(usedWord);
                    x = 1;
                    target.setAttribute('style', 'color:' + colors[0])
                    letterCount += x;
                    waiting = false;
                }, 1000)
            } else if (letterCount === words[0].length + 1 && waiting === false) {
                waiting = true;
                window.setTimeout(function () {
                    x = -1;
                    letterCount += x;
                    waiting = false;
                }, 1000)
            } else if (waiting === false) {
                target.innerHTML = words[0].substring(0, letterCount)
                letterCount += x;
            }
        }, 120)
        window.setInterval(function () {
            if (visible === true) {
                con.className = 'console-underscore hidden'
                visible = false;

            } else {
                con.className = 'console-underscore'

                visible = true;
            }
        }, 400)
    }

</script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<!-- REQUIRED SCRIPTS -->
<!-- jQuery -->
<script src="~/adminlte/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="~/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="~/adminlte/dist/js/adminlte.min.js"></script>
