@model PrivTours.ViewModels.RecuperarContrasenaViewModel

@{
    Layout = null;

}

<!DOCTYPE html>
<html>
<head>
    <link href="~/css/Login.css" rel="stylesheet" />
</head>
<body class="hold-transition login-page">
    <div id="login-page">
        <div class="login">
            <div class='console-container'><span id='text'></span><div class='console-underscore' id='console'>&#95;</div></div>
            <h1 class="login-title">PRIVTOURS</h1>
            <h3 class="login-title">Confirmación Recuperar Contraseña</h3>
            <br/>

            <p>
                Por favor revise su correo electrónico para restablecer su contraseña.
            </p>
            <div class="col-auto">
                <a asp-action="Login" class="btn btn-outline-secondary">Volver</a>
            </div>


            <div class="created">
                <br />
                <br />
                <br />

                <p>
                    Created by
                    <a href="https://github.com/blendyvillamizar">Blendy Villamizar</a>
                    <a href="https://github.com/andresgd7">Carlos Gomez</a>
                    <a href="https://github.com/JamiltonQuintero">Jamilton Quintero</a>
                </p>
            </div>
        </div>

            <div class="background">
            </div>
        </div>


</body>

<h1> Confirmación Recuperar Contraseña </h1><br>

<p>
    Por favor revise su correo electrónico para restablecer su contraseña.
</p>
<div class="form-group row col-xs-12">
    <div class="col-auto">
        <a asp-action="Login" class="btn btn-outline-secondary">Volver</a>
    </div>


</html>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<!-- REQUIRED SCRIPTS -->
<!-- jQuery -->
<script src="~/adminlte/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="~/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="~/adminlte/dist/js/adminlte.min.js"></script>

