@model PrivTours.ViewModels.ResetearContrasenaViewModel

@{
    Layout = null;

}

<!DOCTYPE html>
<html>
<head>
    <link href="~/css/Login.css" rel="stylesheet" />
</head>
<body class="hold-transition login-page">

    <div id="login-page">
        <div class="login">
            <div class='console-container'><span id='text'></span><div class='console-underscore' id='console'>&#95;</div></div>
            <h1 class="login-title">PRIVTOURS</h1>
            <h3 class="login-title">Restablecer Contraseña</h3>
            
            <form method="post" asp-action="ResetearContrasena">
                <input asp-for="Code" type="hidden" />

                <label for="email">E-mail</label>
                <div class="input-email">
                    <i class="fas fa-envelope icon"></i>
                    <span asp-validation-for="Email" class="text-danger small"></span>
                    <input asp-for="Email" class="form-control" placeholder="Correo" type="email" name="email" required>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>

                <label for="email">Contraseña</label>
                <div class="input-email">
                    <i class="fas fa-envelope icon"></i>
                    <span asp-validation-for="Password" class="text-danger small"></span>
                    <input asp-for="Password" class="form-control" placeholder="Contraseña" type="Password" name="Password" required>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>

                <label for="email">Confirmar contraseña</label>
                <div class="input-email">
                    <i class="fas fa-envelope icon"></i>
                    <span asp-validation-for="PasswordConfirm" class="text-danger small"></span>
                    <input asp-for="PasswordConfirm" class="form-control" placeholder="Confirmar contraseña" type="Password" name="PasswordConfirm" required>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>

                <div class="col-5">
                    <button type="submit" class="btn btn-primary btn-block">Restablecer</button>
                </div>


                <div asp-validation-summary="All" class="text-danger small"></div>
            </form>
           
            <div class="created">

                <p>
                    Created by
                    <a href="https://github.com/blendyvillamizar">Blendy Villamizar</a>
                    <a href="https://github.com/andresgd7">Carlos Gomez</a>
                    <a href="https://github.com/JamiltonQuintero">Jamilton Quintero</a>
                </p>
            </div>
        </div>

        <div class="background">
        </div>
    </div>


</body>
</html>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<!-- REQUIRED SCRIPTS -->
<!-- jQuery -->
<script src="~/adminlte/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="~/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="~/adminlte/dist/js/adminlte.min.js"></script>

