@model PrivTours.ViewModels.ResetearContrasenaViewModel

@{
    Layout = null;

}
<!DOCTYPE html>
<html>
<head>
    <link href="~/css/Login.css" rel="stylesheet" />
</head>
<body class="hold-transition login-page">
    <div id="login-page">
        <div class="login">
            <div class='console-container'><span id='text'></span><div class='console-underscore' id='console'>&#95;</div></div>
            <h1 class="login-title">PRIVTOURS</h1>
            <h3 class="login-title">Confirmación de restablecimiento de contraseña</h3>
            <br />

            <div style="text-align: center; border-radius: 5px; padding: 15px; background-color: #28a745 !important;">
                Se restableció la contraseña exitosamente.
            </div>
            <p><a asp-action="Login">Haga clic aquí para iniciar sesión</a></p>
                
            


            <div class="created">
                <br />
                <br />
                <br />

                <p>
                    Created by
                    <a href="https://github.com/blendyvillamizar">Blendy Villamizar</a>
                    <a href="https://github.com/andresgd7">Carlos Gomez</a>
                    <a href="https://github.com/JamiltonQuintero">Jamilton Quintero</a>
                </p>
            </div>
        </div>

        <div class="background">
        </div>
    </div>


</body>
</html>
<script>

    consoleText(['Guidance that meets your expectations.', '¡Viajar por Colombia nunca fue tan fácil!', '“CUIDA DE LOS DEMÁS CUIDANDO DE TI MISMO”.'], 'text', ['tomato', 'rebeccapurple', 'lightblue']);

    function consoleText(words, id, colors) {
        if (colors === undefined) colors = ['#fff'];
        var visible = true;
        var con = document.getElementById('console');
        var letterCount = 1;
        var x = 1;
        var waiting = false;
        var target = document.getElementById(id)
        target.setAttribute('style', 'color:' + colors[0])
        window.setInterval(function () {

            if (letterCount === 0 && waiting === false) {
                waiting = true;
                target.innerHTML = words[0].substring(0, letterCount)
                window.setTimeout(function () {
                    var usedColor = colors.shift();
                    colors.push(usedColor);
                    var usedWord = words.shift();
                    words.push(usedWord);
                    x = 1;
                    target.setAttribute('style', 'color:' + colors[0])
                    letterCount += x;
                    waiting = false;
                }, 1000)
            } else if (letterCount === words[0].length + 1 && waiting === false) {
                waiting = true;
                window.setTimeout(function () {
                    x = -1;
                    letterCount += x;
                    waiting = false;
                }, 1000)
            } else if (waiting === false) {
                target.innerHTML = words[0].substring(0, letterCount)
                letterCount += x;
            }
        }, 120)
        window.setInterval(function () {
            if (visible === true) {
                con.className = 'console-underscore hidden'
                visible = false;

            } else {
                con.className = 'console-underscore'

                visible = true;
            }
        }, 400)
    }

</script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<!-- REQUIRED SCRIPTS -->
<!-- jQuery -->
<script src="~/adminlte/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="~/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="~/adminlte/dist/js/adminlte.min.js"></script>

