@model PrivTours.ViewModels.SolicitudViewModel


@section Styles{
    <link href="~/lib/fullcalendar/main.css" rel="stylesheet" />
    <link href="~/css/RenderizarCalendario.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">
    <link href="~/css/RowSolicitudes.css" rel="stylesheet" />
}

<div class="content-wrapper">

    <div class="content-header">
        <div class="container-fluid">
            <div class="intro-y box">

                <div id="rowPrincipal">
                    <div class="col-2" id='external-events'>
                        <h4>Buscar por: </h4>

                        <div id='external-events-list'>
                            <select class="form-control input w-full border mt-2 flex-1" id="TipoDeBusqueda">
                                <option value="1">Todos</option>
                                <option value="2">Empleado</option>
                                <option value="3">Cliente</option>
                                <option value="4">Servicio</option>
                                <option value="5">Estado Solicitud</option>
                            </select>
                        </div>

                        <div>
                            <br />
                            <label>Seleccione en valor de la busqueda</label>
                            <select class="form-control input w-full border mt-2 flex-1" searchable="Busca aquí.." id="TipoDeBusquedaSeleccionado">
                                <option value="0">Seleccione</option>
                            </select>
                        </div>
                        <br />
                        <button type="button" class="btn btn-primary align-content-center" onclick="filtar()">Aplicar filtro</button>
                    </div>

                    
                    <div class="col-9" id="calendar">
                        <div id='loading'>loading...</div>
                    </div>
                </div>
            </div>


            <!-- Modal Detalle-->

            <div class="modal" id="modalSolicitudDetalle">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Detalle Solicitud</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <form id="formularioSolicitudEditar">

                                <div class="row">

                                    <div class="col 6">

                                        <div class="form group">
                                            <label asp-for="FechaInicio" class="control-label"></label>
                                            <input asp-for="FechaInicio" class="form-control input w-full border mt-2 flex-1" type="date" id="FechaInicioD" />
                                            <span asp-validation-for="FechaInicio" class="text-danger"></span>
                                        </div>

                                        <br />

                                    </div>

                                    <div class="col 6">

                                        <div class="form group">
                                            <label asp-for="FechaFin" class="control-label"></label>
                                            <input asp-for="FechaFin" class="form-control input w-full border mt-2 flex-1" type="date" id="FechaFinD" />
                                            <span asp-validation-for="FechaFin" class="text-danger"></span>
                                        </div>

                                        <br />



                                    </div>
                                </div>

                                <br />
                                <br />

                                <div class="row">

                                    <div class="col 6 ">

                                        <div class="form group">
                                            <label asp-for="Cliente" class="control-label"></label>
                                            <select asp-for="ClienteId" class="form-control input w-full border mt-2 flex-1" asp-items="ViewBag.Clientes" id="ClienteD">
                                                <option>Seleccione</option>
                                            </select>
                                            <span asp-validation-for="Cliente" class="text-danger"></span>
                                        </div>

                                        <br />


                                        <div class="form group">
                                            <label asp-for="Empleados" class="control-label"></label>

                                            <select asp-items="ViewBag.Empleados" asp-for="Empleados" id="choices-multiple-remove-button-d" placeholder="Seleccione los empleados" multiple>
                                            </select>
                                            <span asp-validation-for="Empleados" class="text-danger"></span>
                                        </div>

                                    </div>


                                    <div class="col 6">

                                        <div class="form group">
                                            <label asp-for="Servicio" class="control-label"></label>
                                            <select asp-for="ServicioId" class="form-control input w-full border mt-2 flex-1" asp-items="ViewBag.Servicios" id="ServicioD">
                                                <option>Seleccione</option>
                                            </select>
                                            <span asp-validation-for="Servicio" class="text-danger"></span>
                                        </div>

                                        <br />

                                        <div class="form group">
                                            <label asp-for="Descripcion" class="control-label"></label>
                                            <textarea asp-for="Descripcion" class="form-control input w-full border mt-2 flex-1" id="DescripcionD"></textarea>
                                        </div>

                                    </div>
                                </div>

                                <div>
                                    <div class="form group">
                                        <label>Estado Actual solicitud</label>
                                        <select asp-for="EstadoSoliciud" class="form-control input w-full border mt-2 flex-1" id="SolicitudEstadoD">
                                            <option value="1">RESERVADO</option>
                                            <option value="2">EN PROCESO</option>
                                            <option value="3">VENCIDO</option>
                                            <option value="4">CANCELADO</option>
                                            <option value="5">FINALIZADO EMPLEADO</option>
                                            <option value="6">FINALIZADO ADMINISTRADOR</option>
                                        </select>
                                        <span asp-validation-for="Servicio" class="text-danger"></span>
                                    </div>

                                </div>
                                <input asp-for="SolicitudId" class="form-control" style="visibility: hidden" id="SolicitudIdD" />
                            </form><!-- Fin formulario-->
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary" onclick="editar()">Editar</button>
                        </div>
                    </div>
                </div>
            </div><!--Fin Modal Detalle-->
            <!-- Modal Crear -->
            <div class="modal" id="modalCrearSoliciutd">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Crear una nueva solicitud</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">



                            

                                <div class="row">

                                    <div class="col 6">

                                        <div class="form group">
                                            <label asp-for="FechaInicio" class="control-label"></label>
                                            <input asp-for="FechaInicio" class="form-control input w-full border mt-2 flex-1" type="datetime-local" id="FechaInicio" />
                                            <span asp-validation-for="FechaInicio" class="text-danger"></span>
                                        </div>

                                    </div>

                                    <div class="col 6">

                                        <div class="form group">
                                            <label asp-for="FechaFin" class="control-label"></label>
                                            <input asp-for="FechaFin" class="form-control input w-full border mt-2 flex-1" type="datetime-local" id="FechaFin" />
                                            <span asp-validation-for="FechaFin" class="text-danger"></span>
                                        </div>

                                    </div>
                                </div>

                                <br />

                                <div class="row">

                                    <div class="col 6 ">

                                        <div class="form group">
                                            <label asp-for="Cliente" class="control-label"></label>
                                            <select asp-for="ClienteId" class="form-control input w-full border mt-2 flex-1" asp-items="ViewBag.Clientes" id="Cliente">
                                                <option value="0">Seleccione</option>
                                            </select>
                                            <span asp-validation-for="Cliente" class="text-danger"></span>
                                        </div>

                                        <br />



                                        <div class="form group">

                                            <label asp-for="Descripcion" class="control-label"></label>
                                            <textarea asp-for="Descripcion" class="form-control input w-full border mt-2 flex-1" id="Descripcion"></textarea>
                                        </div>

                                    </div>

                                    <div class="col 6">

                                        <div class="form group">
                                            <label asp-for="Servicio" class="control-label"></label>
                                            <select asp-for="ServicioId" class="form-control input w-full border mt-2 flex-1" asp-items="ViewBag.Servicios" id="Servicio">
                                                <option value="0">Seleccione</option>
                                            </select>
                                            <span asp-validation-for="Servicio" class="text-danger"></span>
                                        </div>

                                        <br />

                                        <table id="tabla" class="table">
                                            <thead>
                                                <tr>

                                                    <th>
                                                        Tarea
                                                    </th>
                                                    <th>
                                                        Eliminar
                                                    </th>

                                                </tr>
                                            </thead>
                                            <tbody id="d">

                                            </tbody>

                                        </table>

                                    </div>
                                </div>
                            

                            <br />
                            
                           

                                <button id="btnAgregarTarea" type="button" class="btn btn-secondary" onclick="crearTarea()">Agregar tarea</button>

                              
                            

                                <form id="formularioTarea">
                                    <br />
                                    <h5>Nueva tarea</h5>

                                    <div class="row">

                                        <div class="col 6">

                                            <div class="form group">
                                                <label asp-for="FechaInicioTarea" class="control-label"></label>
                                                <input asp-for="FechaInicioTarea" class="form-control input w-full border mt-2 flex-1" type="datetime-local" />
                                                <span asp-validation-for="FechaInicioTarea" class="text-danger"></span>
                                            </div>

                                        </div>

                                        <div class="col 6">

                                            <div class="form group">
                                                <label asp-for="FechaFinTarea" class="control-label"></label>
                                                <input asp-for="FechaFinTarea" class="form-control input w-full border mt-2 flex-1" type="datetime-local" />
                                                <span asp-validation-for="FechaFinTarea" class="text-danger"></span>
                                            </div>

                                        </div>
                                    </div>

                                    <br />

                                    <div class="row">

                                        <div class="col 6 ">

                                            <div class="form group">
                                                <label asp-for="UsuarioIdentity" class="control-label"></label>
                                                <select asp-for="UsuarioIdentityId" class="form-control input w-full border mt-2 flex-1" asp-items="ViewBag.Empleados">
                                                    <option value="0">Seleccione</option>
                                                </select>
                                                <span asp-validation-for="UsuarioIdentity" class="text-danger"></span>
                                            </div>

                                            <br />

                                            <div class="form group">

                                                <label asp-for="DescripcionTarea" class="control-label"></label>
                                                <textarea asp-for="DescripcionTarea" class="form-control input w-full border mt-2 flex-1"></textarea>
                                                <span asp-validation-for="DescripcionTarea" class="text-danger"></span>
                                            </div>

                                        </div>

                                        <div class="col 6">

                                            <div class="form group">
                                                <label asp-for="Operacion" class="control-label"></label>
                                                <select asp-for="OperacionId" class="form-control input w-full border mt-2 flex-1" asp-items="ViewBag.Operaciones">
                                                    <option value="0">Seleccione</option>
                                                </select>
                                                <span asp-validation-for="Operacion" class="text-danger"></span>
                                            </div>

                                        </div>
                                    </div>
                                    <br />


                                    <div class="row">
                                        <button type="button" class="btn btn-danger" onclick="cerrarTareas()">Cerrar</button> <br />
                                        <button type="button" class="btn btn-primary" onclick="guardarTarea()">Asignar tarea</button>
                                    </div>
                                    

                                </form><!-- Fin formulario-->

                            <br />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary" onclick="guardar()">Guardar</button>
                        </div>
                    </div>
                </div>
            </div><!-- Fin Modal Crear-->
        </div>
    </div>
</div>

@section Scripts {

    <script src="https://momentjs.com/downloads/moment.min.js"></script>
    <script src="~/lib/fullcalendar/main.js"></script>
    <script src="~/lib/fullcalendar/locales/es.js"></script>
    <script src="~/js/CalendarioConf.js"></script>

    <script>

        $(function () {
            calendario();
            listar();
            start();
            limpiarModal();
            $('#formularioTarea').hide()
        })

        $(document).ready(function () {

            var multipleCancelButton = new Choices('#choices-multiple-remove-button-d', {
                removeItemButton: true,
            });

        });


        $(document).ready(function () {

            var multipleCancelButton = new Choices('#choices-multiple-remove-button', {
                removeItemButton: true,
            });

        });

        var today = new Date().toISOString().split('T')[0];
        $("#FechaInicioD").attr('min', today);
        $("#FechaInicio").attr('min', today);
        $("#FechaFinD").attr('min', today);
        $("#FechaFin").attr('min', today);



    </script>

    <script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>

}