@model PrivTours.Models.Entities.Solicitud


@section Styles{
    <link href="~/lib/fullcalendar/main.css" rel="stylesheet" />
    <link href="~/css/RenderizarCalendario.css" rel="stylesheet" />
}

<div class="content-wrapper">

    <div class="content-header">
        <div class="container-fluid">


            <div class="intro-y box">

                <div id='loading'>loading...</div>
                <div id="calendar">

                </div>
            </div>

            <!-- Modal Detalle-->
            <div id="modalSolicitudDetalle" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">

                        <div class="modal-header">
                            <h1 class="modal-title">Detalle evento</h1>
                        </div>

                    </div>
                </div>
            </div> <!--Fin Modal Detalle-->
            <!-- Modal Crear -->
            <div id="modalCrearSoliciutd" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title">Crear una nueva solicitud</h1>
                        </div>

                        <form id="formularioSolicitud">

                            <div class="row">

                                <div class="col 6">

                                    <div class="form group">

                                        <label>Fecha Inicio</label>
                                        <input class="input w-full border mt-2 flex-1" readonly type="text" asp-for="FechaInicio" id="FechaInicio" />

                                    </div>

                                    <div class="form group">

                                        <label>Fecha Fin</label>
                                        <input class="input w-full border mt-2 flex-1" type="date" asp-for="FechaFin" />

                                    </div>

                                </div>

                                <div class="col 6 row">

                                    <div class="form group col-6">

                                        <label>Hora de Inicio</label>
                                        <input class="input w-full border mt-2 flex-1" type="time" asp-for="HoraInicio" id="" />

                                    </div>

                                    <div class="form group col-6">

                                        <label>Hora de Finalizacion</label>
                                        <input class="input w-full border mt-2 flex-1" type="time" asp-for="HoraFinal" id="" />

                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col 4">
                                    <div class="form-group">
                                        <label>Cliente</label>
                                        <select class="input w-full border mt-2 flex-1" asp-for="ClienteId" asp-items="ViewBag.Clientes">

                                            <option>Seleccione un cliente</option>

                                        </select>
                                    </div>
                                </div>


                                <div class="col 4">
                                    <div class="form-group">
                                        <label>Cliente</label>
                                        <select class="input w-full border mt-2 flex-1" asp-for="ServicioId" asp-items="ViewBag.Servicios">

                                            <option>Seleccione un Servicio</option>

                                        </select>
                                    </div>
                                </div>

                                <div class="col 4">
                                    <div class="form-group">
                                        <label>Cliente</label>
                                        <select class="input w-full border mt-2 flex-1" asp-for="EmpleadoId" asp-items="ViewBag.Empleados">

                                            <option>Seleccione un Empleado</option>

                                        </select>
                                    </div>
                                </div>

                            </div>


                            <div class="row">


                                <div class="col 6">
                                    <div class="form-group">
                                        <label>Descripcion</label>
                                        <textarea class="input w-full border mt-2 flex-1" asp-for="Descripcion"></textarea>
                                    </div>
                                </div>

                            </div>


                        </form><!-- Fin formulario-->

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="guardar()">Guardar</button>
                        </div>

                    </div>
                </div>
            </div><!-- Fin Modal Crear-->

        </div>
    </div>
</div>

@section Scripts {

    <script src="https://momentjs.com/downloads/moment.min.js"></script>
    <script src="~/lib/fullcalendar/main.js"></script>
    <script src="~/lib/fullcalendar/locales/es.js"></script>
    <script src="~/js/CalendarioConf.js"></script>

    <script>

        $(function () {
            calendario();
            listar();
        })

    </script>

}