@model PrivTours.Models.Entities.Cliente

@{
    ViewData["Title"] = "Edit";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Editar cliente</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Clientes">Gestión Clientes</a></li>
                        <li class="breadcrumb-item active">Editar cliente</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <form method="post" asp-action="Edit" id="formulario" name="formulario">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div asp-validation-summary="ModelOnly" class="text-danger">
                        </div> <!--<div asp-validation-summary="ModelOnly" class="text-danger"></div>-->

                        <div class="form-group">
                            <label asp-for="Nombre" class="control-label"></label>
                            <input asp-for="Nombre" class="form-control" id="nombre" name="nombre" />
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Apellidos" class="control-label"></label>
                            <input asp-for="Apellidos" class="form-control" id="apellidos" name="apellidos" />
                            <span asp-validation-for="Apellidos" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" id="email" name="email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Telefono" class="control-label"></label>
                            <input asp-for="Telefono" class="form-control" id="telefono" name="telefono" />
                            <span asp-validation-for="Telefono" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="TelefonoEmer" class="control-label"></label>
                            <input asp-for="TelefonoEmer" class="form-control" id="telefonoEmer" name="telefonoEmer" />
                            <span asp-validation-for="TelefonoEmer" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Pais" class="control-label"></label>
                            <input asp-for="Pais" class="form-control" id="telefonoEmer" name="telefonoEmer" />
                            <span asp-validation-for="Pais" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="IdTipoDoc" class="control-label"></label>
                            <input asp-for="IdTipoDoc" class="form-control" id="telefonoEmer" name="telefonoEmer" />
                            <span asp-validation-for="IdTipoDoc" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="NumDoc" class="control-label"></label>
                            <input asp-for="NumDoc" class="form-control" id="telefonoEmer" name="telefonoEmer" />
                            <span asp-validation-for="NumDoc" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="FechaNac" class="control-label"></label>
                            <input type=date asp-for="FechaNac" class="form-control" id="telefonoEmer" name="telefonoEmer" />
                            <span asp-validation-for="FechaNac" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Notas" class="control-label"></label>
                            <input asp-for="Notas" class="form-control" id="telefonoEmer" name="telefonoEmer" />
                            <span asp-validation-for="Notas" class="text-danger"></span>
                        </div>
                        <input asp-for="ClienteId" class="form-control" style="visibility: hidden" />
                        <input asp-for="Estado" class="form-control" style="visibility: hidden" />
                        <div class="row">
                            <div>
                                <a asp-action="Index" class="btn btn-outline-secondary">Volver</a>
                            </div>
                            <br />
                            <div class="form-group">
                                <input type="button" value="Editar" class="btn btn-primary" onclick="Editar()" />
                            </div>

                        </div>
                    </form>
            </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content -->

@section Scripts {


    <script>
        function Editar() {

            Swal.fire({
                title: "Editar cliente",
                text: "¿Estás seguro que desea editar el cliente?",
                //showDenyButton: true,
                showCancelButton: true,
                confirmButtonText: 'Guardar',
                //denyButtonText: 'No guardar',
            }).then((result) => {
                if (result.isConfirmed) {
                    document.getElementById('formulario').submit();
                } else if (result.isDenied) {
                    Swal.fire('¡Cliente no guardado!', '', 'info')
                }
            })

        }

    </script>

}
