@model PrivTours.Models.Entities.Empleado

@{
    ViewData["Title"] = "Create";
}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Crear empleado</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Empleado">Gestión Empleado</a></li>
                        <li class="breadcrumb-item active">Crear Empleado</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">

                    <form method="post" asp-action="Create" id="formulario" name="formulario">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                            <label asp-for="Nombre" class="control-label"></label>
                            <input asp-for="Nombre" class="form-control" />
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Apellido" class="control-label"></label>
                            <input asp-for="Apellido" class="form-control" />
                            <span asp-validation-for="Apellido" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Celular" class="control-label"></label>
                            <input asp-for="Celular" class="form-control" />
                            <span asp-validation-for="Celular" class="text-danger"></span>
                        </div>


                        <div class="form-group">
                            <label asp-for="TipoContrato" class="control-label"></label>
                            <select asp-for="TipoContrato" class="form-control">
                                <option value="1">Interno</option>
                                <option value="2">Externo</option>
                            </select>
                            <span asp-validation-for="TipoContrato" class="text-danger"></span>
                        </div>

                        <div class="row col-12">
                            <div>
                                <a asp-action="Index" class="btn btn-outline-secondary">Volver</a>
                            </div>
                            <br />
                            <div class="form-group col-8">
                                <input type="button" value="Crear" class="btn btn-primary" onclick="Crear()" />
                            </div>
                        </div>
                    </form>                  
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

@section Scripts {

    <script>
        function Crear() {
                Swal.fire({
                    title: "Guardar empleado",
                    text: "¿Estás seguro de que deseas guardar al empleado?",
                    //showDenyButton: true,
                    showCancelButton: true,
                    confirmButtonText: 'Guardar',
                    //denyButtonText: 'No guardar',
                }).then((result) => {
                    if (result.isConfirmed) {
                        document.getElementById('formulario').submit();

                    } else if (result.isDenied) {
                        Swal.fire('¡Empleado no guardado!', '', 'info')
                    }
                })
        }
    </script>
}
