@model PrivTours.ViewModels.UsuarioViewModel

@{
    ViewData["Title"] = "Crear";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Crear Empleado</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-action="Dashboard" asp-controller="Admin">Dashboard</a></li>
                        <li class="breadcrumb-item active">Empleados</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <hr />
 
            <form method="post" asp-action="Create" id="formulario" name="formulario">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="Nombre" class="control-label"> Nombre <span style="color: red;">*</span></label>
                        <input asp-for="Nombre" required placeholder="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Apellido" class="control-label"> Apellido <span style="color: red;">*</span></label>
                        <input asp-for="Apellido" required placeholder="Apellido" class="form-control" />
                        <span asp-validation-for="Apellido" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="Documento" class="control-label">Documento <span style="color: red;">*</span></label>
                        <input asp-for="Documento" required placeholder="Documento" class="form-control" />
                        <span asp-validation-for="Documento" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-6">
                        <label asp-for="Email" class="control-label">Email <span style="color: red;">*</span></label>
                        <input asp-for="Email" required placeholder="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="Telefono" class="control-label">Teléfono <span style="color: red;">*</span></label>
                        <input asp-for="Telefono" required placeholder="Teléfono" class="form-control" />
                        <span asp-validation-for="Telefono" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="TipoContrato" class="control-label">Tipo de contrato<span style="color: red;">*</span></label>
                        <select asp-for="TipoContrato" class="form-control">
                            <option value="1">Interno</option>
                            <option value="2">Externo</option>
                        </select>
                        <span asp-validation-for="TipoContrato" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="Password" class="control-label">Contraseña <span style="color: red;">*</span></label>
                        <input asp-for="Password" required placeholder="Contraseña" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="ConfirmarPassword" class="control-label">Confirmar contraseña <span style="color: red;">*</span></label>
                        <input type="password" asp-for="ConfirmarPassword" required placeholder="Confirmar contraseña" class="form-control" />
                        <span asp-validation-for="ConfirmarPassword" class="text-danger"></span>
                    </div>
                </div>

                <input value="@ViewBag.Rol" asp-for="RolSeleccionado" class="form-control" style="visibility: hidden;" />

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <a asp-action="Index" class="btn btn-outline-secondary">Volver</a>
                    </div>
                    <div class="form-group col-md-6">
                        <input type="button" value="Crear" class="btn btn-primary" onclick="Crear()" />
                    </div>
                </div>
            </form>
           
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
    <!-- /.content-wrapper -->
</div>

@section Scripts {

    <script>
        function Crear() {
                Swal.fire({
                    title: "Guardar empleado",
                    text: "¿Estás seguro que desea guardar el empleado?",
                    //showDenyButton: true,
                    showCancelButton: true,
                    confirmButtonText: 'Guardar',
                    //denyButtonText: 'No guardar',
                }).then((result) => {
                    if (result.isConfirmed) {
                        document.getElementById('formulario').submit();

                } else if (result.isDenied) {
                    Swal.fire('¡Empleado no guardado!', '', 'info')
                }
            })
        }
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
