@model PrivTours.ViewModels.EmpleadosConPermisosViewModel

@{
    ViewData["Title"] = "Crear";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Crear Empleado</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-action="Dashboard" asp-controller="Admin">Dashboard</a></li>
                        <li class="breadcrumb-item active">Empleados</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
            <hr />
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
        @if (Model.Empleados_crear_Permiso)
        {
            <div class="container-fluid">


                <form method="post" asp-action="Create" id="formulario" name="formulario">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="Empleado.Nombre" class="control-label"> Nombre <span style="color: red;">*</span></label>
                            <input asp-for="Empleado.Nombre" required placeholder="Nombre" class="form-control" />
                            <span asp-validation-for="Empleado.Nombre" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Empleado.Apellido" class="control-label"> Apellido <span style="color: red;">*</span></label>
                            <input asp-for="Empleado.Apellido" required placeholder="Apellido" class="form-control" />
                            <span asp-validation-for="Empleado.Apellido" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="Empleado.Documento" class="control-label">Documento <span style="color: red;">*</span></label>
                            <input asp-for="Empleado.Documento" required placeholder="Documento" class="form-control" />
                            <span asp-validation-for="Empleado.Documento" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-6">
                            <label asp-for="Empleado.Email" class="control-label">Email <span style="color: red;">*</span></label>
                            <input asp-for="Empleado.Email" required placeholder="Email" class="form-control" />
                            <span asp-validation-for="Empleado.Email" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="Empleado.Telefono" class="control-label">Teléfono <span style="color: red;">*</span></label>
                            <input asp-for="Empleado.Telefono" required placeholder="Teléfono" class="form-control" />
                            <span asp-validation-for="Empleado.Telefono" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Empleado.TipoContrato" class="control-label">Tipo de contrato<span style="color: red;">*</span></label>
                            <select asp-for="Empleado.TipoContrato" class="form-control">
                                <option value="1">Interno</option>
                                <option value="2">Externo</option>
                            </select>
                            <span asp-validation-for="Empleado.TipoContrato" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="Empleado.Password" class="control-label">Contraseña <span style="color: red;">*</span></label>
                            <input asp-for="Empleado.Password" required placeholder="Contraseña" class="form-control" />
                            <span asp-validation-for="Empleado.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Empleado.ConfirmarPassword" class="control-label">Confirmar contraseña <span style="color: red;">*</span></label>
                            <input type="password" asp-for="Empleado.ConfirmarPassword" required placeholder="Confirmar contraseña" class="form-control" />
                            <span asp-validation-for="Empleado.ConfirmarPassword" class="text-danger"></span>
                            <input value="@ViewBag.Rol" asp-for="Empleado.RolSeleccionado" class="form-control" style="display: none;" />
                        </div>
                    </div>


                    <div class="row col-4">
                        <div>
                            <a asp-action="Index" class="btn btn-outline-secondary">Volver</a>
                        </div>
                        <br />
                        <div class="form-group col-2">
                            <input type="button" value="Crear" class="btn btn-primary" onclick="Crear()" />
                        </div>
                    </div>



                </form>

            </div><!-- /.container-fluid -->

        }
        else
        {
            <div class="content-wrapper">
                <div class="content">
                    <div class="container-fluid">

                        <div class="container py-5">
                            <div class="row">
                                <div class="col-md-2 text-center">
                                    <p><i class="fa fa-exclamation-triangle fa-5x"></i><br />Acceso denegado: 403</p>
                                </div>
                                <div class="col-md-10">
                                    <h3>OPPSSS!!!! Lo sentimos...</h3>
                                    <p>No tienes acceso al recurso.<br />Por favor regresa a la página en la que te encontrabas.</p>
                                    <a class="btn btn-danger" href="javascript:history.back()">Volver</a>
                                    <!--<a asp-action="Index">Volver</a>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
    <!-- /.content -->
    <!-- /.content-wrapper -->
</div>

@section Scripts {

    <script>
        function Crear() {
            Swal.fire({
                title: "Guardar empleado",
                text: "¿Estás seguro que desea guardar el empleado?",
                //showDenyButton: true,
                showCancelButton: true,
                confirmButtonText: 'Guardar',
                //denyButtonText: 'No guardar',
            }).then((result) => {
                if (result.isConfirmed) {
                    document.getElementById('formulario').submit();

                } else if (result.isDenied) {
                    Swal.fire('¡Empleado no guardado!', '', 'info')
                }
            })
        }
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
