@model PrivTours.ViewModels.UsuarioViewModel

@{
    ViewData["Title"] = "Editar";
}

@Html.HiddenFor(u => u.Id)
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Editar empleado</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-action="Dashboard" asp-controller="Admin">Dashboard</a></li>
                        <li class="breadcrumb-item active">Empleado</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
        <hr />
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
    
     
            <form method="post" asp-action="Editar" id="formulario" name="formulario">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div asp-validation-summary="ModelOnly" class="text-danger">
                    <!--<input type="hidden" name="Id" id="Id" />-->
                </div>

                @*<div class="form-group">
            <label asp-for="Nombre" class="control-label"></label>
            <input asp-for="Nombre" class="form-control" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Apellido" class="control-label"></label>
            <input asp-for="Apellido" class="form-control" />
            <span asp-validation-for="Apellido" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Documento" class="control-label"></label>
            <input asp-for="Documento" class="form-control" />
            <span asp-validation-for="Documento" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Telefono" class="control-label"></label>
            <input asp-for="Telefono" class="form-control" />
            <span asp-validation-for="Telefono" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="TipoContrato" class="control-label"></label>
            <select asp-for="TipoContrato" class="form-control">
                <option value="1">Interno</option>
                <option value="2">Externo</option>
            </select>
            <span asp-validation-for="TipoContrato" class="text-danger"></span>
        </div>*@

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="Nombre" class="control-label"> Nombre <span style="color: red;">*</span></label>
                        <input asp-for="Nombre" required placeholder="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Apellido" class="control-label"> Apellido <span style="color: red;">*</span></label>
                        <input asp-for="Apellido" required placeholder="Apellido" class="form-control" />
                        <span asp-validation-for="Apellido" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="Documento" class="control-label">Documento <span style="color: red;">*</span></label>
                        <input asp-for="Documento" required placeholder="Documento" class="form-control" />
                        <span asp-validation-for="Documento" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-6">
                        <label asp-for="Email" class="control-label">Email <span style="color: red;">*</span></label>
                        <input asp-for="Email" required placeholder="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="Telefono" class="control-label">Teléfono <span style="color: red;">*</span></label>
                        <input asp-for="Telefono" required placeholder="Teléfono" class="form-control" />
                        <span asp-validation-for="Telefono" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="TipoContrato" class="control-label">Tipo de contrato<span style="color: red;">*</span></label>
                        <select asp-for="TipoContrato" class="form-control">
                            <option value="1">Interno</option>
                            <option value="2">Externo</option>
                        </select>
                        <span asp-validation-for="TipoContrato" class="text-danger"></span>
                    </div>
                </div>

                @*<input asp-for="EmpleadoId" class="form-control" style="visibility: hidden" />*@
                <input asp-for="Estado" class="form-control" style="display: none;" />
                <input asp-for="Id" class="form-control" style="display: none;" />
                <input asp-for="RolSeleccionado" class="form-control" style="display: none;" />


                <div class="row col-4">
                    <div>
                        <a asp-action="Index" class="btn btn-outline-secondary">Volver</a>
                    </div>
                    <br />
                    <div class="form-group col-2">
                        <input type="button" value="Editar" class="btn btn-primary" onclick="Editar()" />
                    </div>
                </div>

            </form>
                    </div>
                </div>
                </div>
    
    <!-- /.content -->
    <!-- /.content-wrapper -->
</div>
@section Scripts {

    <script>

    function Editar() {

                Swal.fire({
                    title: "Editar empleado",
                    text: "¿Estás seguro que desea editar el empleado?",
                    //showDenyButton: true,
                    showCancelButton: true,
                    confirmButtonText: 'Guardar',
                    //denyButtonText: 'No guardar',
                }).then((result) => {
                    if (result.isConfirmed) {
                        document.getElementById('formulario').submit();
                    } else if (result.isDenied) {
                        Swal.fire('¡Empleado no editado!', '', 'info')
                    }
                })
       
    }
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

